
<div class="container-fluid text-center">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Weight</th>
              <th scope="col">Type</th>
              <th scope="col">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr
             *ngFor="let pokemon of pokemons"
             style="cursor: pointer;"
             (click)="onClickTable(pokemon)"
             >
              <th scope="row">{{pokemon.id}} </th>
              <td>{{pokemon.name}}</td>
              <td>{{pokemon.weight}}</td>
              <td>{{pokemon.type}}</td>
              <td>
                <img [src]="pokemon.image" 
                class="figure-img img-fluid rounded"
                [alt]="pokemon.name"
                style="width: 200px;">
              </td>
            </tr>
          </tbody>
    </table>
    <button 
    type="button" 
    class="btn btn-info"
    (click)="onClickButton()"
    >Info</button>
</div>